A [tidy dataset](http://vita.had.co.nz/papers/tidy-data.html) should look like this:

- each column represents unique variables
- each row represents observations
- form a table

In [2]:
# Use pd.melt() to transform a "tidy" table, into an "untidy" table.
# https://campus.datacamp.com/courses/cleaning-data-in-python/tidying-data-for-analysis?ex=4

In [4]:
# Use pd.pivot(), or pd.pivot_table() - to transform a "untidy" table, into an "tidy" table.
# https://campus.datacamp.com/courses/cleaning-data-in-python/tidying-data-for-analysis?ex=5
# Note: 
#  pd.pivot(): errors if duplicate entries. But can be fixed
#  e.g. taking average of duplicate values, with pd.pivot_table()

In [7]:
# pd.concat([df1, df2, df3,...], ignore_index=True, axis=0)
# use axis=0 for row wise concat (default)
# use axis=1 for column wise concat

In [6]:
# apply apply apply! lambda lambda lambda! :)

In [9]:
# import glob
# csv_files = glob.glob("*.csv")

In [10]:
# pd.merge(left=lkv, right=rkv, left_on="name", right_on="customer_name")
# pd.merge(left=lkv, right=rkv, on="common_name")
# one-to-one
# many-to-one
# one-to-many
# many-to-many

In [12]:
# say a column is supposed to be all numeric. but some values has missing values assigned as "-" in CSV.
# so that column gets imported as string.
# to correct this we can do this:

# df.loc[:, "col1"] = pd.to_numeric(df.loc[:, "col1"], errors="coerce")


# alternatively use pd.loc[:, "col1"].astype("float")

In [11]:
# Pandas datatypes:
#   - object is encoded as string. need to convert to the appropriate type.
#   - category saves memory for small number of unique values. Used by other packages like datashader for analysis.

In [ ]:
# # Write the lambda function using replace (remove positive $)
# tips['total_dollar_replace'] = tips['total_dollar'].apply(lambda x: x.replace('$', ''))

# # Write the lambda function using regular expressions (extract positive digit)
# tips['total_dollar_re'] = tips['total_dollar'].apply(lambda x: re.findall('\d+\.\d+', x)[0])

# # Print the head of tips
# print(tips.head())

In [ ]:
# df.drop_duplicates()
# df.dropna()

In [ ]:
# mean_val = df["col"].mean()
# mean_val = np.mean(df["col"])
# df.loc[:, 'col1'] = df.loc[:, 'col1'].fillna(mean_val)

In [ ]:
# # Assert that there are no missing values
# assert pd.notnull(ebola).all().all()

# # Assert that all values are >= 0
# assert (ebola >= 0).all().all()

In [ ]:
# Either:
  
#   - combine then clean,
#   - clean then combine